## Wind Energy Data Clean-up

# Extract

Import dependencies, data files and setup.

Source Of Data:
* Data alias: Storm-Data
http://www.bom.gov.au/australia/stormarchive/ (date range 1/1/2010 to 1/1/2021)
Includes all storm data on all states and teritories.
Formatted as a CSV file.

* Data alias: Outages-Data
http://nemweb.com.au/Reports/Current/HighImpactOutages/ (date range 30/8/2021 to 6/6/2022)
Includes all High Impact Outage data on existing wind farms in all states and teritories.
Formatted as a CSV file.

In [6]:
# Dependencies and Setup
import pandas as pd
import glob
import os
from bs4 import BeautifulSoup as bs
import requests
import pymongo
import time
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
from sqlalchemy import create_engine

pd.options.mode.chained_assignment = None
default='warn'

Storm Data set up:

In [7]:
# File to Load
storm_data_to_load = "Resources/bom.australia.storm.archive.csv"

# Read Storm Data File and store into Pandas DataFrames
storm_data_df = pd.read_csv(storm_data_to_load, encoding='iso8859_2')

In [8]:
storm_data_df.head(3)

,Event ID,Database,ID,Date/Time,Nearest town,State,Latitude,Longitude,Comments,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,23725,Wind,5620,3/01/2010 1:30,ARMIDALE,NSW,-30.5151,151.6650,Weatherzone photos near Armidale showed trees ...,NaN,NaN,NaN,NaN,NaN,NaN
1,23726,Rain,3377,4/01/2010 6:25,INVERELL,NSW,-29.7817,151.1178,Spotter reported 58mm of rain about 11km north...,NaN,NaN,NaN,NaN,NaN,NaN
2,23727,Wind,5621,5/01/2010 0:43,WAGGA WAGGA AERODROME,NSW,-35.1318,147.4179,51 knot gust recorded at Wagga Wagga airport ...,NaN,NaN,NaN,NaN,NaN,NaN

Outages Data set up:

In [9]:
# Files to Load
data_to_load_1 = "Resources\High_Impact_Outages_20210830.csv"
data_to_load_2 = "Resources\High_Impact_Outages_20210906.csv"
data_to_load_3 = "Resources\High_Impact_Outages_20210913.csv"
data_to_load_4 = "Resources\High_Impact_Outages_20210920.csv"
data_to_load_5 = "Resources\High_Impact_Outages_20210927.csv"
data_to_load_6 = "Resources\High_Impact_Outages_20211005.csv"
data_to_load_7 = "Resources\High_Impact_Outages_20211011.csv"
data_to_load_8 = "Resources\High_Impact_Outages_20211018.csv"
data_to_load_9 = "Resources\High_Impact_Outages_20211025.csv"
data_to_load_10 = "Resources\High_Impact_Outages_20211101.csv"
data_to_load_11 = "Resources\High_Impact_Outages_20211108.csv"
data_to_load_12 = "Resources\High_Impact_Outages_20211115.csv"
data_to_load_13 = "Resources\High_Impact_Outages_20211122.csv"
data_to_load_14 = "Resources\High_Impact_Outages_20211129.csv"
data_to_load_15 = "Resources\High_Impact_Outages_20211206.csv"
data_to_load_16 = "Resources\High_Impact_Outages_20211213.csv"
data_to_load_17 = "Resources\High_Impact_Outages_20211220.csv"
data_to_load_18 = "Resources\High_Impact_Outages_20220104.csv"
data_to_load_19 = "Resources\High_Impact_Outages_20220110.csv"
data_to_load_20 = "Resources\High_Impact_Outages_20220117.csv"
data_to_load_21 = "Resources\High_Impact_Outages_20220124.csv"
data_to_load_22 = "Resources\High_Impact_Outages_20220131.csv"
data_to_load_23 = "Resources\High_Impact_Outages_20220207.csv"
data_to_load_24 = "Resources\High_Impact_Outages_20220214.csv"
data_to_load_25 = "Resources\High_Impact_Outages_20220221.csv"
# data_to_load_26 = "Resources\High_Impact_Outages_20220228.csv"
data_to_load_27 = "Resources\High_Impact_Outages_20220307.csv"
data_to_load_28 = "Resources\High_Impact_Outages_20220314.csv"
data_to_load_29 = "Resources\High_Impact_Outages_20220321.csv"
data_to_load_30 = "Resources\High_Impact_Outages_20220328.csv"
data_to_load_31 = "Resources\High_Impact_Outages_20220404.csv"
data_to_load_32 = "Resources\High_Impact_Outages_20220411.csv"
data_to_load_33 = "Resources\High_Impact_Outages_20220419.csv"
data_to_load_34 = "Resources\High_Impact_Outages_20220426.csv"
data_to_load_35 = "Resources\High_Impact_Outages_20220502.csv"
data_to_load_36 = "Resources\High_Impact_Outages_20220509.csv"
data_to_load_37 = "Resources\High_Impact_Outages_20220516.csv"
data_to_load_38 = "Resources\High_Impact_Outages_20220523.csv"
data_to_load_39 = "Resources\High_Impact_Outages_20220530.csv"
data_to_load_40 = "Resources\High_Impact_Outages_20220606.csv"

# Read Outages Data Files and store into Pandas DataFrames
outages1 = pd.read_csv(data_to_load_1, encoding='iso8859_2')
outages2 = pd.read_csv(data_to_load_2, encoding='iso8859_2')
outages3 = pd.read_csv(data_to_load_3, encoding='iso8859_2')
outages4 = pd.read_csv(data_to_load_4, encoding='iso8859_2')
outages5 = pd.read_csv(data_to_load_5, encoding='iso8859_2')
outages6 = pd.read_csv(data_to_load_6, encoding='iso8859_2')
outages7 = pd.read_csv(data_to_load_7, encoding='iso8859_2')
outages8 = pd.read_csv(data_to_load_8, encoding='iso8859_2')
outages9 = pd.read_csv(data_to_load_9, encoding='iso8859_2')
outages10 = pd.read_csv(data_to_load_10, encoding='iso8859_2')
outages11 = pd.read_csv(data_to_load_11, encoding='iso8859_2')
outages12 = pd.read_csv(data_to_load_12, encoding='iso8859_2')
outages13 = pd.read_csv(data_to_load_13, encoding='iso8859_2')
outages14 = pd.read_csv(data_to_load_14, encoding='iso8859_2')
outages15 = pd.read_csv(data_to_load_15, encoding='iso8859_2')
outages16 = pd.read_csv(data_to_load_16, encoding='iso8859_2')
outages17 = pd.read_csv(data_to_load_17, encoding='iso8859_2')
outages18 = pd.read_csv(data_to_load_18, encoding='iso8859_2')
outages19 = pd.read_csv(data_to_load_19, encoding='iso8859_2')
outages20 = pd.read_csv(data_to_load_20, encoding='iso8859_2')
outages21 = pd.read_csv(data_to_load_21, encoding='iso8859_2')
outages22 = pd.read_csv(data_to_load_22, encoding='iso8859_2')
outages23 = pd.read_csv(data_to_load_23, encoding='iso8859_2')
outages24 = pd.read_csv(data_to_load_24, encoding='iso8859_2')
outages25 = pd.read_csv(data_to_load_25, encoding='iso8859_2')
# outages26 = pd.read_csv(data_to_load_26, encoding='iso8859_2', error_bad_lines=False)
outages27 = pd.read_csv(data_to_load_27, encoding='iso8859_2')
outages28 = pd.read_csv(data_to_load_28, encoding='iso8859_2')
outages29 = pd.read_csv(data_to_load_29, encoding='iso8859_2')
outages30 = pd.read_csv(data_to_load_30, encoding='iso8859_2')
outages31 = pd.read_csv(data_to_load_31, encoding='iso8859_2')
outages32 = pd.read_csv(data_to_load_32, encoding='iso8859_2')
outages33 = pd.read_csv(data_to_load_33, encoding='iso8859_2')
outages34 = pd.read_csv(data_to_load_34, encoding='iso8859_2')
outages35 = pd.read_csv(data_to_load_35, encoding='iso8859_2')
outages36 = pd.read_csv(data_to_load_36, encoding='iso8859_2')
outages37 = pd.read_csv(data_to_load_37, encoding='iso8859_2')
outages38 = pd.read_csv(data_to_load_38, encoding='iso8859_2')
outages39 = pd.read_csv(data_to_load_39, encoding='iso8859_2')
outages40 = pd.read_csv(data_to_load_40, encoding='iso8859_2')

In [10]:
# merging the files
joined_files = (outages1, outages2, outages3, outages4, outages5, outages6, outages7, outages8, outages9, outages10, outages11,outages12, outages13, outages14, outages15, outages16, outages17, outages18, outages19, outages20, outages21, outages22, outages23, outages24, outages25, outages27, outages28, outages29, outages30, outages31, outages32, outages33, outages34, outages35, outages36, outages37, outages38, outages39, outages40)

merged_outages_df = pd.concat(joined_files)
merged_outages_df.head(3)

,Region,NSP,Start,Finish,Network Asset,Impact,Recall,Status,Status and\nMarket Notice,Project Work?,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,ďťżRegion,"Impact Region,\nReason and\nDuration",Vs Old,Unnamed: 23
0,NSW,Transgrid,30/08/2021 06:05\nMonday,01/09/2021 12:00\nWednesday,Armidale - Dumaresq (8C) 330 kV Line,<<UPDATED since the last notification>>\r\nA c...,Day: 3 hrs-Night: 4 hrs,In Progress - PTP,In Progress - PTP\r\n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QLD,Powerlink,01/09/2021 08:30\nWednesday,01/09/2021 12:00\nWednesday,Ross No.4 288/138/19 kV Transformer,This is a high impact outage because the recal...,Day: 1 hr-Night: NA,Planned - MTLTP,Planned - MTLTP\r\n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NSW,Transgrid,04/09/2021 06:00\nSaturday,05/09/2021 17:00\nSunday,Liddell to Muswellbrook (83) 330 kV Line,A credible contingency event during this plann...,Day: 4 hrs-Night: 4 hrs,Planned - MTLTP,Planned - MTLTP\r\n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Transform

Storm-Data transformation:
* remove duplicates
* remove blank columns
* remove all states and teritories except Vicoria
* change column headers to standardise columns referring the the state Victoria

Outages-Data transformation:
* remove duplicates
* remove blank columns
* joining all individual csv's into one dataframe
* remove all states and teritories except Vicoria
* change column headers to standardise columns referring the the state Victoria

In [11]:
# Remove excess columns and rename state column for ease of merging
high_impact_outages = merged_outages_df[['Region', 'NSP', 'Start', 'Finish', 'Network Asset', 'Impact', 'Recall', 'Status']]
high_impact_outages.rename(columns={'Region': 'State', 'Network Asset': 'Network_Asset'}, inplace=True)
high_impact_outages.head(1)

,State,NSP,Start,Finish,Network_Asset,Impact,Recall,Status
0,NSW,Transgrid,30/08/2021 06:05\nMonday,01/09/2021 12:00\nWednesday,Armidale - Dumaresq (8C) 330 kV Line,<<UPDATED since the last notification>>\r\nA c...,Day: 3 hrs-Night: 4 hrs,In Progress - PTP

In [12]:
# Remove excess columns
bom_storm_data = storm_data_df[['Event ID', 'Database', 'ID', 'Date/Time', 'Nearest town', 'State', 'Latitude', 'Longitude', 'Comments']]
bom_storm_data.rename(columns={'Event ID': 'Event_ID', 'Nearest town': 'Nearest_town'}, inplace=True)
bom_storm_data.head(1)

,Event_ID,Database,ID,Date/Time,Nearest_town,State,Latitude,Longitude,Comments
0,23725,Wind,5620,3/01/2010 1:30,ARMIDALE,NSW,-30.5151,151.665,Weatherzone photos near Armidale showed trees ...

In [13]:
high_impact_outages = high_impact_outages.loc[high_impact_outages["State"] == "VIC"]
high_impact_outages.head(3)

,State,NSP,Start,Finish,Network_Asset,Impact,Recall,Status
11,VIC,AusNet,17/09/2021 06:30\nFriday,17/09/2021 19:00\nFriday,Jindera - Wodonga (060) 330 kV Line,This is a high-impact outage only if the forec...,Day: 2 hrs-Night: NA,Planned - SUBMIT
13,VIC,AusNet,18/09/2021 06:30\nSaturday,18/09/2021 19:00\nSaturday,Jindera - Wodonga (060) 330 kV Line,This is a high-impact outage only if the forec...,Day: 2 hrs-Night: NA,Planned - SUBMIT
15,VIC,AusNet,19/09/2021 06:30\nSunday,19/09/2021 19:00\nSunday,Jindera - Wodonga (060) 330 kV Line,This is a high-impact outage only if the forec...,Day: 2 hrs-Night: NA,Planned - SUBMIT

In [14]:
bom_storm_data = bom_storm_data.loc[bom_storm_data["State"] == "VIC"]
bom_storm_data

,Event_ID,Database,ID,Date/Time,Nearest_town,State,Latitude,Longitude,Comments
1545,31801,Wind,5721,17/06/2010 0:00,BALLARAT,VIC,-37.5632,143.8554,Damaging winds smashed in studio doors and bro...
1546,31801,Wind,5722,17/06/2010 0:00,MOUNT PLEASANT,VIC,-37.5856,143.8596,17 jobs at Mt Pleasant all in a line - possibl...
1547,31801,Wind,5723,17/06/2010 0:05,MELTON SOUTH,VIC,-37.7043,144.5702,30 foot branch brought down in high winds with...
1548,31801,Wind,5724,17/06/2010 0:35,ST KILDA ROAD,VIC,-37.8354,144.9716,Various AWS reports around Melbourne with line...
1549,31801,Wind,5720,17/06/2010 0:45,NORTHCOTE,VIC,-37.7772,144.9970,Damage to a worksite at Northcote.
...,...,...,...,...,...,...,...,...,...
2084,32088,Wind,7756,30/10/2016 0:00,SOUTH CHANNEL ISLAND,VIC,-38.3081,144.7994,NaN
2085,32088,Wind,7757,30/10/2016 0:00,NHILL AERODROME,VIC,-36.3109,141.6463,NaN
2086,32090,Wind,7759,8/04/2017 15:33,WARRACKNABEAL,VIC,-36.2528,142.3947,NaN
2087,32090,Wind,7758,8/04/2017 15:50,HAMILTON,VIC,-37.7457,142.0204,NaN
2088,32090,Tornado,1314,8/04/2017 16:30,PAKENHAM,VIC,-38.0800,145.4801,"Rotation evident in clouds, no tornado."

In [15]:
# CODE TO REMOVE DOUBLE DUPLICATES IN THE BOM EVENTS AND EVENTS ID

clean_bom_storm_data = bom_storm_data.drop_duplicates(subset = ['Event_ID', 'ID'], keep = 'last')
clean_bom_storm_data

,Event_ID,Database,ID,Date/Time,Nearest_town,State,Latitude,Longitude,Comments
1545,31801,Wind,5721,17/06/2010 0:00,BALLARAT,VIC,-37.5632,143.8554,Damaging winds smashed in studio doors and bro...
1546,31801,Wind,5722,17/06/2010 0:00,MOUNT PLEASANT,VIC,-37.5856,143.8596,17 jobs at Mt Pleasant all in a line - possibl...
1547,31801,Wind,5723,17/06/2010 0:05,MELTON SOUTH,VIC,-37.7043,144.5702,30 foot branch brought down in high winds with...
1548,31801,Wind,5724,17/06/2010 0:35,ST KILDA ROAD,VIC,-37.8354,144.9716,Various AWS reports around Melbourne with line...
1549,31801,Wind,5720,17/06/2010 0:45,NORTHCOTE,VIC,-37.7772,144.9970,Damage to a worksite at Northcote.
...,...,...,...,...,...,...,...,...,...
2084,32088,Wind,7756,30/10/2016 0:00,SOUTH CHANNEL ISLAND,VIC,-38.3081,144.7994,NaN
2085,32088,Wind,7757,30/10/2016 0:00,NHILL AERODROME,VIC,-36.3109,141.6463,NaN
2086,32090,Wind,7759,8/04/2017 15:33,WARRACKNABEAL,VIC,-36.2528,142.3947,NaN
2087,32090,Wind,7758,8/04/2017 15:50,HAMILTON,VIC,-37.7457,142.0204,NaN
2088,32090,Tornado,1314,8/04/2017 16:30,PAKENHAM,VIC,-38.0800,145.4801,"Rotation evident in clouds, no tornado."

In [16]:
# Output File (CSV)
output_data_file = "BOM_Storm_Data.csv"

# Save the summary_df dataframe as a CSV
clean_bom_storm_data.to_csv(output_data_file, index=False)

In [17]:
# Output File (CSV)
output_data_file = "High_Impact_Outages_Full_data.csv"

# Save the summary_df dataframe as a CSV
high_impact_outages.to_csv(output_data_file, index=False)

## STRETCH TARGET: 
Web scraping data and transforming the data.

In [18]:
overview_url = 'https://anero.id/energy/wind-energy'

In [19]:
# Use Panda's `read_html` to parse the url
tables = pd.read_html(overview_url)

In [20]:
# Find the relevant dataframe
summary_df = pd.DataFrame(tables[0])

In [21]:
# Output File (CSV)
output_data_file = "vic_summary.csv"

In [22]:
# Save the summary_df dataframe as a CSV
summary_df.to_csv(output_data_file, index=False)

In [23]:
summary_csv = pd.read_csv("vic_summary.csv")
summary_csv

,ID,Name,Source/Technology,RegisteredCapacity (MW)
0,New South Wales (NSW1),New South Wales (NSW1),New South Wales (NSW1),New South Wales (NSW1)
1,BANGOWF1,Bango 973 Wind Farm,"Wind, Wind - Onshore",159
2,BANGOWF2,Bango 999 Wind Farm,"Wind, Wind - Onshore",85
3,BOCORWF1,Boco Rock Wind Farm,"Wind, Wind - Onshore",113
4,BODWF1,Bodangora Wind Farm,"Wind, Wind - Onshore",113
...,...,...,...,...
83,YENDWF1,Yendon Wind Farm,"Wind, Wind - Onshore",144
84,YSWF1,Yaloak South Wind Farm,"Wind, Wind - Onshore",29
85,NaN,NaN,NaN,4037
86,Total registered,Total registered,Total registered,Total registered
87,NaN,NaN,NaN,9854

In [24]:
vic_summary = summary_csv.loc[(\
                                (summary_csv['ID'] == 'ARWF1') |
                                (summary_csv['ID'] == 'BALDHWF1') |
                                (summary_csv['ID'] == 'BRYB1WF1') |
                                (summary_csv['ID'] == 'BULGANA1') |
                                (summary_csv['ID'] == 'CHALLHWF') |
                                (summary_csv['ID'] == 'CHYTWF1') |
                                (summary_csv['ID'] == 'CROWLWF1') |
                                (summary_csv['ID'] == 'DIAPURWF1') |
                                (summary_csv['ID'] == 'DUNDWF1') |
                                (summary_csv['ID'] == 'DUNDWF2') |
                                (summary_csv['ID'] == 'DUNDWF3') | 
                                (summary_csv['ID'] == 'ELAINWF1') |
                                (summary_csv['ID'] == 'KIATAWF1') |
                                (summary_csv['ID'] == 'MACARTH1') |
                                (summary_csv['ID'] == 'MERCER01') |
                                (summary_csv['ID'] == 'MLWF1') |
                                (summary_csv['ID'] == 'MOORAWF1') |
                                (summary_csv['ID'] == 'MTGELWF1') |
                                (summary_csv['ID'] == 'MUWAWF1') |
                                (summary_csv['ID'] == 'MUWAWF2') |
                                (summary_csv['ID'] == 'OAKLAND1') |
                                (summary_csv['ID'] == 'PORTWF') | 
                                (summary_csv['ID'] == 'SALTCRK1') |
                                (summary_csv['ID'] == 'STOCKYD1') |
                                (summary_csv['ID'] == 'WAUBRAWF') |
                                (summary_csv['ID'] == 'YAMBUKWF') |
                                (summary_csv['ID'] == 'YENDWF1') |
                                (summary_csv['ID'] == 'YSWF1'))]

In [48]:
vic_summary.rename(columns={'Source/Technology': 'Source_Technology', 'RegisteredCapacity_(MW)': 'Registered_Capacity'}, inplace=True)
vic_summary.head(1)

       ID              Name State     Source_Technology Registered_Capacity
57  ARWF1  Ararat Wind Farm   VIC  Wind, Wind - Onshore                 242

In [26]:
# Add State column fo Relational Database purposes

vic_summary.insert(2, "State", ['VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
'VIC', 
], True)

In [27]:
vic_summary

,ID,Name,State,Source/Technology,RegisteredCapacity_(MW)
57,ARWF1,Ararat Wind Farm,VIC,"Wind, Wind - Onshore",242
58,BALDHWF1,Bald Hills Wind Farm,VIC,"Wind, Wind - Onshore",107
59,BRYB1WF1,Berrybank Wind Farm,VIC,"Wind, Wind - Onshore",181
60,BULGANA1,Bulgana Green Power Hub - Wind Units 1-56,VIC,"Wind, Wind - Onshore",204
61,CHALLHWF,Challicum Hills Wind Farm,VIC,"Wind, Wind - Onshore",52
62,CHYTWF1,Cherry Tree Wind Farm,VIC,"Wind, Wind - Onshore",58
63,CROWLWF1,Crowlands Wind Farm,VIC,"Wind, Wind - Onshore",80
64,DIAPURWF1,"Diapur Wind Farm, Units 1-2",VIC,"Wind, Wind - Onshore",8
65,DUNDWF1,Dundonnell Wind Farm,VIC,"Wind, Wind - Onshore",168
66,DUNDWF2,Dundonnell Wind Farm,VIC,"Wind, Wind - Onshore",46
67,DUNDWF3,Dundonnell Wind Farm,VIC,"Wind, Wind - Onshore",121
68,ELAINWF1,Elaine Wind Farm,VIC,"Wind, Wind - Onshore",84
69,KIATAWF1,Kiata Wind Farm,VIC,"Wind, Wind - Onshore",31
70,MACARTH1,Macarthur Wind Farm,VIC,"Wind, Wind - Onshore",420
71,MERCER01,Mt Mercer Wind Farm,VIC,"Wind, Wind - Onshore",131
72,MLWF1,Mortons Lane Wind Farm,VIC,"Wind, Wind - Onshore",20
73,MOORAWF1,Moorabool Wind Farm,VIC,"Wind, Wind - Onshore",312
74,MTGELWF1,Mt Gellibrand Wind Farm,VIC,"Wind, Wind - Onshore",138
75,MUWAWF1,Murra Warra Wind Farm,VIC,"Wind, Wind - Onshore",232
76,MUWAWF2,Murra Warra Wind Farm Stage 2,VIC,"Wind, Wind - Onshore",209
77,OAKLAND1,Oaklands Hill Wind Farm,VIC,"Wind, Wind - Onshore",67
78,PORTWF,Portland Wind Farm,VIC,"Wind, Wind - Onshore",148
79,SALTCRK1,Salt Creek Wind Farm,VIC,"Wind, Wind - Onshore",54
80,STOCKYD1,Stockyard Hill Wind Farm,VIC,"Wind, Wind - Onshore",531
81,WAUBRAWF,Waubra Wind Farm,VIC,"Wind, Wind - Onshore",192
82,YAMBUKWF,Yambuk Wind Farm,VIC,"Wind, Wind - Onshore",30
83,YENDWF1,Yendon Wind Farm,VIC,"Wind, Wind - Onshore",144
84,YSWF1,Yaloak South Wind Farm,VIC,"Wind, Wind - Onshore",29

In [28]:
# Update csv with clean data

# Output File (CSV)
output_data_file = "vic_summary.csv"

# Save the summary_df dataframe as a CSV
vic_summary.to_csv(output_data_file, index=False)

In [29]:
states_url = 'https://www.abc.net.au/education/learn-english/commonly-used-abbreviations-and-acronyms-in-australia/10733416'

In [30]:
# Use Panda's `read_html` to parse the url
tables = pd.read_html(states_url)

In [31]:
# Find the relevant dataframe
states_df = pd.DataFrame(tables[2])

In [32]:
states_df

                          State Acronym
0  Australian Capital Territory     ACT
1               New South Wales     NSW
2            Northern Territory      NT
3                    Queensland     Qld
4               South Australia      SA
5                      Victoria     Vic
6                      Tasmania     Tas
7             Western Australia      WA

In [33]:
# Output File (CSV)
output_data_file = "states.csv"

In [34]:
# Save the summary_df dataframe as a CSV
states_df.to_csv(output_data_file, index=False)

# Load

Connect to local Database and load tables

In [35]:
rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [37]:
# Check for tables

engine.table_names()

In [ ]:
# Use pandas to load csv converted DataFrame into database

# dataframes: vic_summary / states_df / clean_bom_storm_data / high_impact_outages

vic_summary.to_sql(name='VIC_Summary', con=engine, if_exists='append', index=False)
states_df.to_sql(name='States_Summary', con=engine, if_exists='append', index=False)
clean_bom_storm_data.to_sql(name='Storm_Data', con=engine, if_exists='append', index=False)
high_impact_outages.to_sql(name='High_Impact_Outages', con=engine, if_exists='append', index=False)

In [ ]:
# Confirm data has been added by querying the tables
pd.read_sql_query('select * from VIC_Summary', con=engine).head()

In [ ]:
# Confirm data has been added by querying the tables
pd.read_sql_query('select * from States_Summary', con=engine).head()

In [ ]:
# Confirm data has been added by querying the tables
pd.read_sql_query('select * from Storm_Data', con=engine).head()

In [ ]:
# Confirm data has been added by querying the tables
pd.read_sql_query('select * from High_Impact_Outages', con=engine).head()